*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.view-port{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.ball{
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}